<%= simple_form_for(wish) do |f| %>
    <%= f.error_notification %>

    <%= f.hidden_field :beverage_id %>
    <%= f.hidden_field :accomplished %>

    <%= f.input :accomplished, label: false, collection: [[false, "想喝"], [true, "喝过"]], label_method: :last, value_method: :first, as: :radio %>

    <div id='star' data-rating="<%= wish.rating || 3 %>"></div>

    <div class="mt10">
        <%= render "tags/tags_form", f: f, tags: [] %>
    </div>

    <%= f.input :remark, as: :text, label: t("wishes.remark"), input_html: {rows: 3, class: 'input-xlarge', maxlength: 140} %>

    <div class="actions">
        <%= f.submit t("general.save"), class: 'btn btn-primary' %>
    </div>
<% end %>
