<%= simple_form_for(@beverage) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, label: t("beverages.name") %>
    <% if f.object.type.present? %>
        <%= f.hidden_field :type %>
    <% else %>
        <%= f.label t("beverages.type"), :type %>
        <%= f.collection_select :type, Beverage.types, :first, :last %>
    <% end %>
    <%= f.input :picture, label: t("pictures.upload") %>
    <%= f.label t("regions.region"), :region_id %>
    <%= f.collection_select :region_id, Region.all, :id, :full_name %>
    <%= f.input :alcohol, label: t("beverages.alcohol") %>
    <%= f.input :volume, label: t("beverages.volume") %>

    <div class="actions">
        <%= f.submit f.object.new_record? ? t("general.confirm") : t("general.update"), class: 'btn btn-primary' %>
    </div>
<% end %>
