<%= content_tag :p, t("beverages.categories.#{beverage.type}") %>

<% if beverage.brand %>
    <p>
        <%= content_tag :span, "品牌", class: "mr20" %>
        <%= link_to "#{beverage.brand.full_name}", beverage.brand %>
    </p>
<% end %>

<% if beverage.region %>
   <p>
       <%= content_tag :span, t("regions.region"), class: "mr20" %>
       <%= link_to "#{beverage.region.full_name}", beverage.region %>
   </p>
<% end %>

<p>
    <%= content_tag :span, t("beverages.style"), class: "mr20" %>
    <%= content_tag :span, t("beverages.styles.#{beverage.type}.#{beverage.style}") %>
</p>

<p>
    <%= content_tag :span, t("beverages.vintage"), class: "mr20" %>
    <%= content_tag :span, beverage.vintage %>
</p>

<p>
    <%= content_tag :span, t("beverages.alcohol"), class: "mr20" %>
    <%= content_tag :span, "#{beverage.alcohol.to_i}%"  %>
</p>

<p>
    <%= content_tag :span, t("beverages.volume"), class: "mr20" %>
    <%= content_tag :span, "#{beverage.volume}ml" %>
</p>

<% case beverage.type %>
    <% when 'Whisky' %>
        <%= render "beverages/whisky_info", beverage: beverage%>
    <% when 'Wine' %>
        <%= render "beverages/wine_info", beverage: beverage %>
<% end %>
