<% if beverage.rank %>
    <p>
       <%= content_tag :span, "评级", class: "mr20" %>
       <%= link_to "#{beverage.rank.full_name}", beverage.rank %>
    </p>
<% end %>

<% if beverage.sweetness %>
    <p>
        <%= content_tag :span, "甜度", class: "mr20" %>
        <%= content_tag :span, t("beverages.sweetness.#{beverage.sweetness}") %>
    </p>
<% end %>

<% if beverage.color %>
    <p>
        <%= content_tag :span, "颜色", class: "mr20" %>
        <%= content_tag :span, t("beverages.colors.#{beverage.color}") %>
    </p>
<% end %>
