<% current_beverage = t("beverages.categories.#{@type}") %>

<% title @type ? current_beverage : "酒", false %>

<div class="mb50">
    <div class="mb10">
        <div class="clearfix">
        <% %w(WhiteSpirit RiceWine ChineseLiqueur Whisky Brandy Vodka Tequila Rum Gin Liqueur Wine Beer Sake).each do |type| %>
            <div class="pull-left text-center mr10" style="width:50px; height:50px;border: 1px solid; <%= 'background: orange;' if @type == type %>">
                <%= link_to t("beverages.categories.#{type}"), "/#{type.downcase}", class: "f14" %>
            </div>
        <% end %>
        </div>

        <%= content_tag :span, "国家:", class: 'b' %><br/>
        <% Country.all.each do |country| %>
            <%= link_to country.name, "#{request.env['PATH_INFO']}?filter=country&value=#{country.name}&delta=1", class: "mr10" %>
        <% end %>
    </div>

    <% if @type && get_styles(@type).present? %>
        <div class="clearfix mb10">
            <%= content_tag :span, "分类:", class: 'b' %><br/>
            <% get_styles(@type).each do |style| %>
                <div class="pull-left hover_area">
                    <%= link_to style['name'], "#{request.env['PATH_INFO']}?filter=style&value=#{style['name']}&delta=1", class: "mr10" %>
                    <% if style["sub"]%>
                        <div class="display_on_hover">
                            <div class="b_baishu">
                                <% style["sub"].each do |sub_style| %>
                                    <%= link_to sub_style['name'], "#{request.env['PATH_INFO']}?filter=style&value=#{sub_style['name']}&delta=1", class: "mr10" %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>

    <% if @type == "Wine" %>
        <div>
            <%= content_tag :span, "葡萄:", class: 'b' %><br/>
            <% get_grapes.each do |category, grapes| %>
                <p>
                    <%= content_tag :b, category, class: "mr10" %>
                    <% grapes.each do |array| %>
                        <%= link_to array[1], "#{request.env['PATH_INFO']}?filter=grape&value=#{array[1]}&delta=1", title: array[0], class: "mr10" %>
                    <% end %>
                </p>
            <% end %>
        </div>
    <% end %>

    <% @filters.each do |filter| %>
        <span class="label label-warning mr10">
            <%= filter[:value] %>
            <%= link_to "x", "#{request.env['PATH_INFO']}?filter=#{filter[:filter]}&value=#{filter[:value]}", class: "b white ml2" %>
        </span>
    <% end %>

    <hr/>
    <div class="clearfix">
        <%= link_to content_tag(:i, "", class: "icon-plus") + ' 添加酒', new_beverage_path(type: @type) if can? :create, Beverage %>
    </div>
</div>

<div>
    <% @beverage_brands.each do |brand, beverages| %>
        <%= render "beverages/beverages_with_brand", brand: brand, beverages: beverages %>
    <% end %>
</div>

