<% current_beverage = t("beverages.categories.#{@type}") %>

<% title @type ? current_beverage : "酒", false %>

<div class="mb50">
    <div class="mb10">
        <div class="clearfix">
            <% %w(WhiteSpirit RiceWine ChineseLiqueur Whisky Brandy Vodka Tequila Rum Gin Liqueur Wine Beer JapaneseSpirit).each do |type| %>
                <div class="pull-left text-center" style="width:74px;">
                    <div class="type_block <%= 'selected' if @type == type %>">
                        <%= link_to t("beverages.categories.#{type}"), "/#{type.downcase}", class: "f14", style: "height:50px; padding: 5px;" %>
                    </div>
                    <div class="type_bar <%= 'selected' if @type == type %>"></div>
                </div>
            <% end %>
        </div>

        <div class="clearfix mt10">
            <div>
                <% @regions.each do |region| %>
                    <%= link_to region.full_name, "#{request.env['PATH_INFO']}?filter=country&value=#{region.name}&delta=1", class: "mr10" %>
                <% end %>
            </div>
        </div>
    </div>

    <% if @type && !@type.constantize.styles.empty? %>
        <div class="clearfix mb10">
            <%= content_tag :span, "分类:", class: 'b' %><br/>
            <% @type.constantize.styles.each do |style| %>
                <div class="pull-left hover_area">
                    <%= link_to_function t("beverages.styles.#{@type}.#{style}"), "add_filter(this)", data: {filter: "style", value: style}, class: "mr10" %>
                </div>
            <% end %>
        </div>
    <% end %>

    <% if @type == "Wine" %>
        <div>
            <%= content_tag :span, "甜度:", class: 'b' %><br/>
            <% Wine.sweetness.each do |sweetness| %>
                <%= link_to_function t("beverages.sweetness.#{sweetness}"), "add_filter(this)", data: {filter: "sweetness", value: t("beverages.sweetness.#{sweetness}")}, class: "mr10" %>
            <% end %>
        </div>

        <div>
            <%= content_tag :span, "颜色:", class: 'b' %><br/>
            <% Wine.colors.each do |color| %>
                <%= link_to_function t("beverages.colors.#{color}"), "add_filter(this)", data: {filter: "color", value: t("beverages.colors.#{color}")}, class: "mr10" %>
            <% end %>
        </div>

        <div>
            <%= content_tag :span, "葡萄:", class: 'b' %><br/>
            <% get_grapes.each do |category, grapes| %>
                <p>
                    <%= content_tag :b, category, class: "mr10" %>
                    <% grapes.each do |array| %>
                        <%= link_to_function array[0] || array[1], "add_filter(this)", data: {filter: "grape", value: array[0]}, class: "mr10" %>
                    <% end %>
                </p>
          <% end %>
        </div>

    <% end %>

    <div>
        <%= content_tag :span, "年份:", class: 'b' %><br/>
        <% Beverage.vintages.each do |year| %>
            <%= link_to_function year == -1 ? t("beverages.old_vintage", year: 1980) : year, "add_filter(this)", data: {filter: "vintage", value: year}, class: "mr10" %>
        <% end %>
    </div>

    <%= form_tag request.env['PATH_INFO'], method: :get, id: "filterForm" do %>
        <% @filters.each do |filter, values| %>
            <% values.each do |value| %>
                <%= render "filter_fields", filter: filter, value: value %>
            <% end %>
        <% end %>

        <div class="mt10">
            <%= submit_tag "搜索", class: "btn btn-primary btn-mini #{'hide' if @filters.empty?}" %>
        </div>
    <% end %>

    <hr/>
    <div class="clearfix">
        <%= link_to content_tag(:i, "", class: "icon-plus") + ' 添加酒', new_beverage_path(type: @type) if can? :create, Beverage %>
    </div>
</div>

<div>
    <% @beverage_brands.each do |brand, beverages| %>
        <%= render "beverages/beverages_with_brand", brand: brand, beverages: beverages %>
    <% end %>
</div>

