<% current_beverage = t("beverages.categories.#{@type}") %>

<% title @type ? current_beverage : "酒", false %>

<div class="mb50">
    <% @filters.each do |filter| %>
        <span class="label label-warning mr10">
            <%= filter[:value] %>
            <%= link_to "x", "#{request.env['PATH_INFO']}?filter=#{filter[:filter]}&value=#{filter[:value]}", class: "b white ml2" %>
        </span>
    <% end %>

    <div class="mb10">
        <p>
            <%= link_to "首页", root_path, class: "f16" %>
            <%= content_tag :span, " < ", class: "ml10" %>
            <%= content_tag :span, current_beverage, class: "ml10" %>
        </p>
        <%= content_tag :span, "国家:", class: 'b' %><br/>
        <% Country.all.each do |country| %>
            <%= link_to country.name, "#{request.env['PATH_INFO']}?filter=country&value=#{country.name}&delta=1", class: "mr10" %>
        <% end %>
    </div>

    <% if @type && get_styles(@type).present? %>
        <div class="clearfix mb10">
            <%= content_tag :span, "分类:", class: 'b' %><br/>
            <% get_styles(@type).each do |style| %>
                <div class="pull-left hover_area">
                    <%= link_to style['name'], "#{request.env['PATH_INFO']}?filter=style&value=#{style['name']}&delta=1", class: "mr10" %>
                    <% if style["sub"]%>
                        <div class="display_on_hover">
                            <div class="b_baishu">
                                <% style["sub"].each do |sub_style| %>
                                    <%= link_to sub_style['name'], "#{request.env['PATH_INFO']}?filter=style&value=#{sub_style['name']}&delta=1", class: "mr10" %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>

        <!--< if @type == "Wine" %>-->
            <!--<div>-->
                <!--<= content_tag :span, "品种:", class: 'b' %><br/>-->
                <!--< Grape.all.each do |grape| %>-->
                    <!--<= link_to grape.name, "#{request.env['PATH_INFO']}?filter=grape&value=#{grape.name}&delta=1", class: "mr10" %>-->
                <!--< end %>-->
            <!--</div>-->
        <!--< end %>-->
    <% end %>

    <hr/>
    <div class="clearfix">
        <%= link_to content_tag(:i, "", class: "icon-plus") + ' 添加酒', new_beverage_path(type: @type) if can? :create, Beverage %>
    </div>
</div>

<div>
    <% @beverage_brands.each do |brand, beverages| %>
        <%= render "beverages/beverages_with_brand", brand: brand, beverages: beverages %>
    <% end %>
</div>

