<% title @beverage.full_name %>

<div class="row">
    <div class="span8">
        <div class="box box-shadow p10 clearfix">
            <div class="pull-left">
                <%= link_to image_tag(@beverage.pic_url, class: "img-square-120"), @beverage %>
            </div>

            <div class="pull-left ml20">
                <% if @beverage.rank %>
                    <p>
                        <%= content_tag :b, "评级", class: "mr20" %>
                        <%= link_to "#{@beverage.rank.full_name}", @beverage.rank %>
                    </p>
                <% end %>

                <% if @beverage.is_a?(Wine) && @beverage.aoc %>
                    <p>
                        <%= content_tag :b, "AOC", class: "mr20" %>
                        <%= link_to "#{@beverage.aoc.full_name}", @beverage.aoc %>
                    </p>
                <% end %>

                <p>
                    <%= content_tag :b, "度数", class: "mr20" %>
                    <%= content_tag :span, "#{@beverage.alcohol.to_i}%"  %>
                </p>

                <p>
                    <%= content_tag :b, "容量", class: "mr20" %>
                    <%= content_tag :span, @beverage.volume %>
                </p>
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="box box-shadow p10">
            <%= link_to @beverage.region.full_name, @beverage.region if @beverage.region %>
            <hr/>
            <%= link_to 'Edit', edit_beverage_path(@beverage) %> |
            <%= link_to 'Back', beverages_path %>
        </div>
    </div>

</div>
