<% title @beverage.full_name, false %>

<div class="row">
    <div class="span2">
        <%= image_tag @beverage.pic_url, width: 120 %>
    </div>

    <div class="span7">
        <p>
            <%= content_tag :span, @beverage.full_name, class: "b f18" %>
            <%= content_tag :span, "#{@beverage.reviews.size}篇酒评", class: "ml30 trivial f12" %>
        </p>

        <div class="mt30 clearfix">
            <div class="pull-left text-center" >
                <div class="p20" style="width: 100px; background: #339999;">
                    <%= content_tag :span, @beverage.reviews_score, class: "white f18" %>
                </div>
                <div class="mt10 clearfix">
                    <% if current_user %>
                        <%= link_to "想喝", new_wish_path(beverage_id: @beverage.id), class: "pull-left btn btn-small btn-warning" %>
                        <%= link_to "喝过", new_check_path(beverage_id: @beverage.id), class: "pull-right btn btn-small btn-danger" %>
                    <% end %>
                </div>
            </div>

            <div class="pull-left ml30">
                <%= render "beverages/info", beverage: @beverage %>
            </div>
        </div>

        <hr/>

        <div class="clearfix">
            <%= content_tag :span, "酒评", class: "pull-left jujiu-label" %>
            <%= link_to content_tag(:span, '', class: 'icon-pencil icon-white') + " 写酒评", new_review_path(beverage_id: @beverage.id), class: "btn btn-info pull-right" %>
        </div>

        <% @beverage.reviews.each do |review| %>
            <%= render review %>
        <% end %>
    </div>


    <div class="span3">
        <div class="box box-shadow p10">
            <%= link_to @beverage.region.full_name, @beverage.region if @beverage.region %>
            <hr/>
            <%= link_to 'Edit', edit_beverage_path(@beverage) %> |
            <%= link_to 'Back', beverages_path %>
        </div>
    </div>
</div>
