<% title @beverage.full_name, false %>

<div class="span9">
    <div class="row">
        <div class="span2">
            <%= image_tag @beverage.get_picture, class: "beverage-frame" %>
        </div>

        <div class="span4">
            <%= content_tag :p, @beverage.full_name, class: "b f18" %>

            <div class="mt10 clearfix">
                <%= render "beverages/info", beverage: @beverage %>
            </div>

            <div class="mt20">
                <% if @beverage.author %>
                    <%= link_to @beverage.author.nick, @beverage.author %><%= content_tag :span, t("beverages.add_it"), class: "mr20" %>
                <% end %>
                <% if can? :create, Complain %>
                    <%= link_to "纠错", "#complainDialog", 'data-toggle' => "modal" %>
                    <%= render "complains/dialog", complain: @beverage.complains.new %>
                <% end %>
            </div>
        </div>
        <div class="span3">
            <div class="score_area">
                <div class="score_header">
                    <%= content_tag :span, "分数" %>
                </div>
                <div class="clearfix">
                    <div class="score_block">
                        <%= content_tag :span, @beverage.reviews_score, class: "score_number" %>
                        <div class="brief_text">
                            <%= content_tag :span, "#{@beverage.reviews.size}份酒评" %>
                        </div>
                    </div>
                    <div class="rating_block">
                        <%= content_tag :span, @rating, class: "score_number" %>
                      <div class="brief_text">
                          <%= content_tag :span, "#{@beverage.wishes.size}人收藏" %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt20">
        <div class="clearfix">
            <%= render "wishes/beverage_wish_fields", beverage: @beverage %>
            <p>
                <div class="clearfix">
                    <%= content_tag :span, "收藏", class: "pull-left" %>

                    <div class="wish_rating pull-left ml10 n-mt5" data-rating="<%= @rating %>"></div>
                </div>
                <ul class="unstyled">
                    <% @rating_hash.each do |rating, percentage| %>
                        <li class="clearfix">
                            <%= content_tag :b, rating, class: "pull-left" %>
                            <%= content_tag :div, ".", class: "rating_bar pull-left ml10", style: "width: #{percentage}px;" if percentage > 0 %>
                            <%= content_tag :span, "#{percentage}%", class: "trivial pull-left ml10"  %>
                        </li>
                    <% end %>
                </ul>
            </p>
            <p>
                <%= content_tag :span, "用户常用标签:" %>
                <%= @beverage.tags.map{|tag| "#{tag.name}(#{tag.count})"}.join(' ') %>
            </p>
        </div>

        <div class="mt20">
            <%= link_to content_tag(:span, '', class: 'icon-pencil') + " 写酒评", new_review_path(beverage_id: @beverage.id) if can? :create, Review %>
            <%= link_to content_tag(:span, '', class: 'icon-plus') + " 加入榜单", new_package_path(beverage_id: @beverage.id), class: "ml20" if can? :create, Package %>
            <%= link_to content_tag(:span, '', class: 'icon-gift') + " 我要卖", new_deal_path(beverage_id: @beverage.id), class: "ml20" if can? :create, Deal %>
            <%= link_to t("general.edit"), edit_beverage_path(@beverage), class: "ml20" if can? :edit, @beverage %>
        </div>
    </div>

    <div class="mt50">
        <%= content_tag :span, "喜欢#{@beverage.full_name}的人也喜欢", class: "jujiu-label" %>
        <%= content_tag :span, "· · · · · ·", class: "ml10 mr10" %>
        <ul>
            <% @other_beverages.each do |beverage| %>
                <li><%= link_to beverage.full_name, beverage %></li>
            <% end %>
        </ul>
    </div>

    <div class="mt50">
        <div class="clearfix">
            <%= content_tag :span, "酒评 · · · · · · (#{@beverage.reviews.size}篇)", class: "jujiu-label pull-left" %>
            <div class="pull-right">
                <%= link_to content_tag(:span, '', class: 'icon-pencil') + " 写酒评", new_review_path(beverage_id: @beverage.id) if can? :create, Review %>
                <%= link_to "按时间", "", class: "label ml10" %>
                <%= link_to "按热度", "", class: "label ml5" %>
            </div>
        </div>

        <% @beverage.reviews.each do |review| %>
            <hr/>
            <%= render review %>
        <% end %>
    </div>
</div>

<div class="span3">
    <div class="box box-shadow p10">
        <%= content_tag :span, "以下榜单推荐 · · · · · ·", class: "jujiu-label" %>

        <ul class="unstyled">
            <% @beverage.lists.limit(3).each do |list| %>
                <%= render "lists/listed_list", list: list %>
            <% end %>
        </ul>
    </div>

    <div class="mt50">
        <%= content_tag :span, "谁卖这瓶酒 · · · · · ·", class: "jujiu-label" %>
        <% @sellers.each do |seller| %>
            <div class="clearfix mt5 mb5">
                <div class="pull-left">
                    <%= user_avatar_tag(seller) %>
                </div>
                <%= link_to seller.nick, seller, class: "pull-left ml10" %>
            </div>
        <% end %>
    </div>

    <div class="mt50">
        <%= content_tag :span, "谁喝这瓶酒 · · · · · ·", class: "jujiu-label" %>
        <% @beverage.wishes.order("created_at DESC").each do |wish| %>
            <%= render "wishes/listed_wish", wish: wish %>
        <% end %>
  </div>
</div>
