<% title @beverage.full_name, false %>

<div class="span9">
    <div class="row">
        <div class="span2">
            <%= image_tag @beverage.get_picture, class: "beverage-frame" %>
        </div>

        <div class="span4">
            <%= content_tag :p, @beverage.full_name, class: "b f18" %>

            <div class="mt10 clearfix">
                <%= render "beverages/info", beverage: @beverage %>
            </div>
        </div>
        <div class="span3">
            <div class="p20 text-center" style="width: 100px; background: #339999;">
                <%= content_tag :span, @beverage.reviews_score, class: "white f18" %>
            </div>
        </div>
    </div>

    <div class="mt20">
        <% if current_user %>
            <div class="clearfix">
                <%= render "wishes/beverage_wish_fields", beverage: @beverage %>
                <p>
                    <div id="wishRating" data-rating="<%= @beverage.rating %>"></div>
                </p>
                <p>
                    <%= content_tag :span, "用户常用标签:" %>
                </p>
            </div>

            <div class="mt20">
                <%= link_to content_tag(:span, '', class: 'icon-pencil') + " 写酒评", new_review_path(beverage_id: @beverage.id) if can? :create, Review %>
                <%= link_to content_tag(:span, '', class: 'icon-plus') + " 加入榜单", new_package_path(beverage_id: @beverage.id), class: "ml20" if can? :create, Package %>
                <%= link_to content_tag(:span, '', class: 'icon-gift') + " 我要卖", new_deal_path(beverage_id: @beverage.id), class: "ml20" if can? :create, Deal %>
                <%= link_to t("general.edit"), edit_beverage_path(@beverage), class: "ml20" if can? :edit, @beverage %>
            </div>

            <div class="mt20">
                <% if @beverage.author %>
                    <%= link_to @beverage.author.nick, @beverage.author %><%= content_tag :span, t("beverages.add_it"), class: "mr20" %>
                <% end %>
                <% if can? :create, Complain %>
                    <%= link_to "纠错", "#complainDialog", 'data-toggle' => "modal" %>
                    <%= render "complains/dialog", complain: @beverage.complains.new %>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="mt20">
        <%= content_tag :span, "喜欢#{@beverage.full_name}的人也喜欢" %>
        <%= content_tag :span, "· · · · · ·", class: "ml10 mr10" %>
    </div>

    <div class="mt20">
        <%= content_tag :span, "酒评", class: "jujiu-label" %>
        <%= content_tag :span, "· · · · · ·", class: "ml10 mr10" %>
        <%= content_tag :span, "(#{@beverage.reviews.size}共篇)", class: "trivial f12" %>

        <% @beverage.reviews.each do |review| %>
            <hr/>
            <%= render review %>
        <% end %>
    </div>
</div>

<div class="span3">
    <div class="box box-shadow p10">
        <%= content_tag :span, "以下榜单推荐", class: "jujiu-label" %>
        <%= content_tag :span, "· · · · · ·", class: "ml10 mr10" %>
    </div>

    <div class="mt20">
        <%= content_tag :span, "谁卖这瓶酒", class: "jujiu-label" %>
        <%= content_tag :span, "· · · · · ·", class: "ml10 mr10" %>
    </div>

    <div class="mt20">
        <%= content_tag :span, "谁喝这瓶酒", class: "jujiu-label" %>
        <%= content_tag :span, "· · · · · ·", class: "ml10 mr10" %>
  </div>
</div>
