<%= form_tag  messages_path, method: :post do %>
    <% if @receipt and @receipt.errors.any? %>
        <div class="error">
            <h2>
                <%= pluralize(@receipt.errors.count, "error") %> prohibited this message from being sent:
            </h2>
            <ul>
                <% @receipt.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <% if @recipient %>
            <%= hidden_field_tag :_recipients, @recipient.id %>
            <%= content_tag :span, "至 ", class: 'f18 trivial' %><%= @recipient.nick %>：
        <% else %>
            <%= text_field_tag "_recipients", "", label: '收件人', "data-source" => "/users/search.json?follow=option" %>
        <% end %>
    </p>
    <p>
        <%= text_field_tag :subject, "", placeholder: t("messages.subject"), label: t("messages.subject"), class: "input-xlarge" %>
    </p>
    <p>
        <%= text_area_tag  :body, "", placeholder: t("messages.body"), label: false, class: "input-xlarge", :rows =>6, :cols=> 53, :maxlength => 5000 %>
    </p>

    <%= submit_tag t("general.send"), class: "btn btn-primary" %>
<% end %>
