<%= div_for(message, :class => "clearfix mb20 #{message.is_unread?(current_user) ? 'unread' : ''}" ) do %>
    <div class="pull-left" style="width:64px;">
        <%= user_avatar_tag(message.sender) %><br/>
        <%= link_to message.sender.nick, message.sender, class: "b" %>
    </div>

    <div class="pull-left box box-shadow p10 ml10 clearfix" style="width: 600px;">
        <%= content_tag :p, truncate(message.subject, :length => 70), class: "b f16" %>
        <%= raw(message.body) %>

        <div class="clearfix">
            <%= t('time.ago', :time => time_ago_in_words(message.updated_at)) %>
        </div>
    </div>
<% end %>