<% title "鸡尾酒" %>

<div class="span9">
    <%= link_to "+添加鸡尾酒", new_recipe_path if can? :create, Recipe %>

    <% @cocktails.each do |cocktail| %>
        <hr/>
        <%= render cocktail %>
    <% end %>
    <%= paginate @cocktails %>
</div>

<div class="span3">
    <div class="box box-shadow p10">
        <%= content_tag :span, "热门鸡尾酒 · · · · · ·", class: "jujiu-label" %>
        <ul>
            <% @hot_cocktails.each do |cocktail| %>
                <%= render "cocktails/listed_cocktail", cocktail: cocktail %>
            <% end %>
        </ul>
    </div>
</div>