<% title @article.title %>

<div class="span9">
    <div id="articleContent">
        <%= simple_format(@article.body) %>
    </div>

    <%= link_to t("general.edit"), edit_article_path(@article) if can? :update, @article %>
    <%= link_to t("general.delete"), @article, method: :delete, class: "ml10" if can? :delete, @article %>

    <div class="mt20">
        <%= render "comments/comments", item: @article %>
    </div>
</div>

<div class="span3">
    <%= render "users/user_block", user: @article.author %>

    <div class="box box-shadow p10 mt50">
        <%= content_tag :span, "作者的其他文章 · · · · · ·", class: "jujiu-label" %>
        <ul>
            <% @article.author.articles.where("id != ?", @article.id).order("created_at").limit(3).each do |article| %>
                <%= render "articles/listed_article", article: article %>
            <% end %>
        </ul>
    </div>

    <div class="box box-shadow p10 mt50">
        <%= content_tag :span, "推荐文章 · · · · · ·", class: "jujiu-label" %>
        <ul>
            <% Article.where("id != ?", @article.id).order("view_count").limit(3).each do |article| %>
                <%= render "articles/listed_article", article: article %>
            <% end %>
        </ul>
    </div>

    <div class="mt20 text-center">
        <%= link_to "← 上篇", article_path(id: @article.id - 1),  class: "btn btn-small" if @article.id > 1 %>
        <%= link_to "返回首页 /", root_path, class: "btn btn-small ml5 mr5" %>
        <%= link_to "下篇 →", article_path(id: @article.id + 1), class: "btn btn-small" %>
    </div>
</div>