<%= simple_form_for(@topic) do |f| %>
    <%= f.error_notification %>

    <%= f.label :node_id, t("nodes.node") %>
    <%= f.collection_select :node_id, Node.all, :id, :name %>
    <%= f.input :title, label: t("topics.title") %>
    <%= f.input :body, label: t("topics.body"), as: :text, input_html: { class: "redactor", :rows => 40, :cols => 120 }%>

    <div class="actions">
        <%= f.submit t("general.publish"), :class => "btn btn-primary" %>
        <%= link_to(t("general.cancel"), @topic.id.blank? ? topics_path : topic_path(@topic), class: "btn")%>
    </div>

<% end %>
