<% title t("topics.topics") %>

<div class="span8">
    <%= link_to content_tag(:i, '', class: "icon-plus") + " #{t("topics.add_topic")}", new_topic_path if can? :create, Topic %>

    <% @topics.each do |topic| %>
        <hr/>
        <%= render topic %>
    <% end %>
    <%= paginate @topics %>
</div>

<div class="span4">
    <div class="box box-shadow">
        <% if params[:all].present? && params[:all] == "true" %>
            <div class="p10">
                <%= link_to "取消所有", topics_path %>
            </div>
        <% else %>
            <div class="p10">
                <%= link_to "所有", topics_path(all: true), class: "jujiu-label" %>
            </div>
            <% @locked_nodes.each do |node| %>
                <div class="p10" style="background: gray;">
                    <%= link_to content_tag(:i, '', class: "icon-locked my-icon-white") + " #{node.name}", unlock_node_path(node), method: :put, class: "jujiu-label", style: "color: white;" %>
                </div>
            <% end %>

            <% @unlocked_nodes.each do |node| %>
                <div class="p10" style="background: #f5f5f5;">
                    <%= link_to node.name, lock_node_path(node), method: :put, class: "jujiu-title trivial" %>
                </div>
            <% end %>
         <% end %>
    </div>
    <%= content_tag :p, "小提示：点击话题节点可以锁定自己感兴趣的内容", class: "trivial mt10" %>
</div>

