<% title "编辑鸡尾酒配方" %>


<%= simple_form_for @recipe, html: {multipart: true} do |f| %>
    <%= f.error_notification %>

    <div class="clearfix">
        <%= render "detail_stage", f: f %>
    </div>

    <div class="mt10">
        <%= f.submit t("general.cancel"), class: "btn" %>
        <%= f.submit t("general.update"), class: "btn btn-primary" %>
    </div>
<% end %>