<% title @recipe.name %>

<div class="span9">
    <div class="box_shadow p10 clearfix">
        <div class="pull-left mr10" style="width: 200px;">
            <%= link_to image_tag(@recipe.picture_url, class: "img-square-80"), @recipe if @recipe.picture?  %>
        </div>

        <div class="pull-left ml10 clearfix" style="width: 460px;">
            <div class="mt10">
                <%= content_tag :p, "材料" %>
                <ul>
                    <% @recipe.ingredients.each do |i|%>
                        <li class="fl" style="width:50%;"> <%= i.name %>  <span class="trivial"><%= i.amount %></span></li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="mt10">
            <%= @recipe.remark %>
        </div>

        <div class="mt10">
            <%= link_to t("general.edit"), edit_recipe_path(@recipe) if can? :update, @recipe %>
            <%= link_to t("general.delete"), @recipe, :confirm => t("general.are_you_sure_to_delete"), :method => :delete, :class => "ml10" if can? :destroy, @recipe %>
        </div>


        <div class="mt50">
            <%= content_tag :span, "该鸡尾酒的其它配方 · · · · · ·", class: "jujiu-label" %>
            <div class="clearfix">
                <% @other_recipes.each do |recipe| %>
                    <%= render "recipes/boxed_recipe", recipe: recipe %>
                <% end %>
            </div>
        </div>

        <div class="mt50">
            <%= render "comments/comments", item: @recipe %>
        </div>
    </div>
</div>

<div class="span3">
    <%= render "users/user_block", user: @recipe.author %>
</div>
