<% title @user.nick, false %>

<div class="span8">
    <% if @user.merchant? %>
        <%= render "merchant_page" %>
    <% else %>
        <%= render "normal_user_page" %>
    <% end %>

    <% unless @reviews.empty? %>
        <p class="mt50">
            <%= content_tag :span, "#{t("reviews.reviews")}  · · · · · · · · · · ", class: 'jujiu-label' %>
            <%= link_to "(全部)", "" %>
        </p>
        <% @reviews.each do |review| %>
            <%= render review %>
        <% end %>
    <% end %>

    <% unless @lists.empty? %>
        <p class="mt50">
            <%= content_tag :span, "#{t("lists.lists")}  · · · · · · · · · · ", class: 'jujiu-label' %>
            <%= link_to "(全部)", "" %>
        </p>
        <% @lists.each do |list| %>
            <%= render list %>
        <% end %>
    <% end %>
</div>

<div class="span4">
    <%= render "users/user_block", user: @user %>

    <% if @user.merchant? %>
        <%= render "users/location_block", user: @user, location: @user.location %>
    <% end %>

    <p class="mt50">
        <%= content_tag :span, "#{@user.nick}的广播  · · · · · · · · · · ", class: 'jujiu-label' %>
        <%= link_to "(全部)", "" %>
    </p>

    <% @user.activity_feeds.each do |activity_feed| %>
        <%= render "activity_feeds/#{activity_feed.type.underscore}", feed: activity_feed %>
    <% end %>
</div>