<div class="navbar <%= is_mobile_client ? 'navbar-static-top' : 'navbar-fixed-top' %>">
    <div class="navbar-inner">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Be sure to leave the brand out there if you want it shown -->
            <%= link_to t("site.name"), root_path, class: "brand #{'selected' if request.env['PATH_INFO'] == root_path}", style: "padding: 8px;" %>

            <% unless @hide_menu %>
                <div class="nav-collapse">
                    <ul class="nav" style="margin-left: 10px;">
                        <%= render "shared/menu", caption: '首页', path: root_path %>
                        <%= render "shared/menu", caption: '产区', path: regions_path %>
                        <%= render "shared/menu", caption: '酒', path: beverages_path %>
                    </ul>

                    <ul class="nav pull-right">
                        <% if current_user %>
                            <% if current_user_has_permission?(:admin) %>
                                <li class="dropdown" style="max-width: 160px;">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <%= content_tag :span, "管理" %><b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <!--<li><= link_to '管理酒', beverages_path %></li>-->
                                    </ul>
                                </li>
                            <% end %>

                            <li class="divider-vertical"></li>
                            <li class="dropdown" style="max-width: 160px;">
                                <a href="/users/<%= current_user.id %>" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= content_tag :span, image_tag(current_user.get_avatar(:thumb), width: 20, height: 20, class: 'mr5', style: "margin-top: -5px;") + truncate_text(current_user.nick, 6) %><b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu">
                                    <% if current_user_has_permission?(:admin) %>
                                        <!--<li class="divider"></li>-->
                                        <!--<li><= link_to content_tag(:i, '', class: 'icon-signal') + ' 控制面板', admin_root_path %></li>-->
                                    <% end %>

                                    <!--<li class="divider"></li>-->
                                    <li><%= link_to '登出', logout_path %></li>
                                </ul>
                            </li>
                        <% else %>
                            <li><%= link_to "登录", login_path %></li>
                            <li><%= link_to "注册", sign_up_path %></li>
                        <% end %>
                    </ul>
                </div><!-- /.nav-collapse -->
            <% end %>
        </div>
    </div><!-- /navbar-inner -->
 </div><!-- /navbar -->
