<div class="navbar <%= is_mobile_client ? 'navbar-static-top' : 'navbar-fixed-top' %>">
    <div class="navbar-inner">
        <div class="container">
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!-- Be sure to leave the brand out there if you want it shown -->
            <%= link_to t("site.name"), root_path, class: "brand", style: "padding: 8px;" %>

            <% unless @hide_menu %>
                <div class="nav-collapse">
                    <ul class="nav" style="margin-left: 10px;">
                        <%= render "shared/menu", caption: '首页', path: root_path %>
                        <%= render "shared/menu", caption: t("reviews.reviews"), path: reviews_path %>
                        <%= render "shared/menu", caption: t("topics.topics"), path: topics_path %>
                        <%= render "shared/menu", caption: t("lists.lists"), path: lists_path %>
                        <%= render "shared/menu", caption: t("deals.deals"), path: deals_path %>
                    </ul>

                    <%= form_tag search_index_path, method: :get, class: 'navbar-search ml10' do %>
                        <%= text_field_tag :query, '', placeholder: "搜索 酒", id: "searchAutocomplete", class: "search-query", style: "width: 180px;" %>
                    <% end %>

                    <ul class="nav pull-right">
                        <% if current_user %>
                            <li class="dropdown" style="position: relative;">
                                <a href="/conversations" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= content_tag(:span, '', id: "unreadSumCounter", class: "label label-info hide") %>
                                    <%= content_tag(:span, "站内信") %>
                                    <%= content_tag(:b, '', class: 'caret') %>
                                </a>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/conversations?box=inbox">
                                            <%= content_tag(:span, '', id: "newMessagesCounter", class: 'label label-info hide') %>
                                            <%= content_tag(:i, '', class: 'icon-envelope') %><%= content_tag :span, "收件箱", class: "ml2" %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/notifications">
                                            <%= content_tag(:span, '', id: "newNotificationsCounter", class: 'label label-info hide') %>
                                            <%= content_tag(:i, '', class: 'icon-volume-up') %><%= content_tag :span, "系统通知", class: "ml2" %>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown" style="max-width: 160px;">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= content_tag :span, "+#{t("general.add")}" %><b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu">
                                    <% if can? :create, Article %>
                                        <li><%= link_to '文章', new_article_path %></li>
                                    <% end %>
                                    <% if can? :create, List %>
                                        <li><%= link_to "榜单", new_list_path %></li>
                                    <% end %>
                                </ul>
                            </li>

                            <li class="divider-vertical"></li>
                            <li class="dropdown" style="max-width: 160px;">
                                <a href="/users/<%= current_user.id %>" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= content_tag :span, image_tag(current_user.get_avatar(:thumb), width: 20, height: 20, class: 'mr5', style: "margin-top: -5px;") + truncate_text(current_user.nick, 6) %><b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><%= link_to "我的主页", current_user %></li>
                                    <li class="divider"></li>
                                    <% if true %>
                                        <li><%= link_to content_tag(:i, '', class: 'icon-signal') + ' 控制面板', admin_root_path %></li>
                                        <li class="divider"></li>
                                    <% end %>

                                    <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
                                </ul>
                            </li>
                        <% else %>
                            <li><%= link_to "登录", new_user_session_path  %></li>
                            <li><%= link_to "注册", new_user_registration_path %></li>
                        <% end %>
                    </ul>
                </div><!-- /.nav-collapse -->
            <% end %>
        </div>
    </div><!-- /navbar-inner -->
 </div><!-- /navbar -->
