<div class="row">
    <div class="span3">
        <div class="box box-shadow p10">
            <ul class="unstyled">
                <% %w(WhiteSpirit RiceWine ChineseLiqueur).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <% %w(Whisky Brandy Vodka Tequila Rum Gin Liqueur).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <% %w(Wine Beer Sake).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <li class="mt5 mb5">
                    <%= link_to t("cocktails.cocktails"), recipes_path, class: "jujiu-label" %>
                </li>
            </ul>
        </div>
    </div>
    <div class="span9">
        <div class="hero-unit">
            <%= content_tag :h1, t("site.name") %>
            <%= content_tag :p, t("site.description") %>
            <p>
                <%= link_to "更多", '', class: "btn btn-primary btn-large" %>
            </p>
        </div>

        <ul class="thumbnails">
            <% @hot_articles.each do |article| %>
                <%= render article %>
            <% end %>
        </ul>
    </div>
</div>