<%= image_tag "logo_big.png", width: 200, style: "position: absolute;left: 0;top: 40px; z-index: -1;" %>

<div class="row">
    <div class="span3">
        <div class="box box-shadow p10" style="background-image: url('logo_big.png')">
            <ul class="unstyled">
                <% %w(WhiteSpirit RiceWine ChineseLiqueur).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <% %w(Whisky Brandy Vodka Tequila Rum Gin Liqueur).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <% %w(Wine Beer JapaneseSpirit).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <li class="mt5 mb5">
                    <%= link_to t("cocktails.cocktails"), cocktails_path, class: "jujiu-label" %>
                </li>
            </ul>
        </div>

        <% if false %>
            <div class="mt50">
                <div class="clearfix">
                    <%= content_tag :span, "Top 10", class: "b pull-left" %>
                    <%= content_tag :span, "一周热门", class: "b f18 pull-right" %>
                </div>

                <ol class="mt10">
                    <% @hot_beverages.each_with_index do |beverage, index| %>
                        <li class="mt5 mb5 hover_area">
                            <%= link_to truncate_text(beverage.full_name, 18), beverage, class: "f15 b" %><br/>
                            <div class="display_on_hover <%= 'display' if index == 0 %>">
                                <p><%= link_to image_tag(beverage.get_picture, class: "small-beverage-frame"), beverage %></p>
                                <%= content_tag :p, "#{beverage.reviews.size}份酒评 / #{beverage.wishes.size}人收藏" %>
                            </div>
                        </li>
                    <% end %>
                </ol>
            </div>


            <div class="mt50">
                <div class="clearfix">
                    <%= content_tag :span, "Top 10", class: "b pull-left" %>
                    <%= content_tag :span, "热门榜单", class: "b f18 pull-right" %>
                </div>
                <ul class="unstyled">
                      <% @hot_lists.each do |list| %>
                          <%= link_to list.title, list %><br/>
                      <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="span9">
        <div class="ml20">
            <div class="clearfix">
                <%= content_tag :span, t("articles.new_articles"), class: "pull-left b f14" %>
                <%= link_to "全部文章 >>", articles_path, class: "pull-right" %>
            </div>
            <ul class="thumbnails">
                <% @new_articles.each do |article| %>
                    <hr/>
                    <%= render article %>
                <% end %>
            </ul>
        </div>
    </div>
</div>