<div class="row">
    <div class="span3">
        <div class="box box-shadow p10">
            <ul class="unstyled">
                <% %w(WhiteSpirit RiceWine ChineseLiqueur).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <% %w(Whisky Brandy Vodka Tequila Rum Gin Liqueur).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <% %w(Wine Beer Sake).each do |category| %>
                    <li class="mt5 mb5">
                        <%= link_to t("beverages.categories.#{category}"), "/#{category.downcase}", class: "jujiu-label" %>
                    </li>
                <% end %>

                <hr class="dotted"/>

                <li class="mt5 mb5">
                    <%= link_to t("cocktails.cocktails"), recipes_path, class: "jujiu-label" %>
                </li>
            </ul>
        </div>

        <div class="box box-shadow p10 mt20">
            <div class="clearfix">
                <%= content_tag :span, "Top 9", class: "b pull-left" %>
                <%= content_tag :span, "一周热门", class: "b f18 pull-right" %>
            </div>

            <ol class="mt10">
                <% Beverage.limit(9).each do |beverage| %>
                    <li class="mt5 mb5 hover_area">
                        <%= link_to truncate_text(beverage.full_name, 18), beverage, class: "f15 b" %><br/>
                        <div class="display_on_hover text-center">
                            <%= link_to image_tag(beverage.get_picture, class: "img-square-80"), beverage %>
                            <%= content_tag :p, "83次点击" %>
                        </div>
                    </li>
                <% end %>
            </ol>
        </div>
    </div>
    <div class="span9">
        <div class="hero-unit">
            <div class="clearfix">
                <div class="pull-left">
                    <%= content_tag :h1, t("site.name") %>
                    <%= content_tag :p, t("site.description") %>
                    <p>
                        <%= link_to "加入我们", new_user_registration_path, class: "btn btn-primary btn-large" %>
                    </p>
                </div>
                <%= image_tag "logo_big.png", width: 200, class: 'pull-right' %>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <div>
                    <%= content_tag :h3, "最新动态" %>
                    <% %w( 关于酒第一届线下评酒会报名启动
                                  国家酝酿酒类及奢侈品进口关税政策调整
                                  调酒大师Conferan Vans进驻关于酒
                                  [酒故事]每一杯GWT，都有一个心碎的她
                                  Jony Walker进驻关于酒
                                    国家酝酿酒类及奢侈品进口关税政策调整
                                  为毛我喝威士忌感觉都一个味道呢？
                                  有什么推荐给女生的酒呢？
                                  关于酒第一届线下评酒会报名启动).each do |title| %>
                        <%= link_to title, "" %><br/>
                    <% end %>
                </div>

                <div class="mt20">
                    <%= content_tag :h3, "最新动态" %>
                    <% %w( 为毛我喝威士忌感觉都一个味道呢？
                    小女子刚刚接触洋酒，有什么推荐给女生的酒呢？
                    有没有上海的啊？一起出来活动啊~
                    自己无聊折腾出一个新配方，不怕死的来
                    自己无聊折腾出一个新配方，不怕死的来
                    小女子刚刚接触洋酒，有什么推荐给女生的酒呢？
                    有没有上海的啊？一起出来活动啊~).each do |title| %>
                      <%= link_to title, "" %><br/>
                    <% end %>
                </div>


                <div class="mt20">
                      <%= content_tag :h3, "商家促销" %>
                      <% %w( 	关于酒第一届线下评酒会报名启动
                      国家酝酿酒类及奢侈品进口关税政策调整
                      调酒大师Conferan Vans进驻关于酒
                      [酒故事]每一杯GWT，都有一个心碎的她
                      Jony Walker进驻关于酒
                      	国家酝酿酒类及奢侈品进口关税政策调整
                      为毛我喝威士忌感觉都一个味道呢？
                      有什么推荐给女生的酒呢？
                      关于酒第一届线下评酒会报名启动).each do |title| %>
                        <%= link_to title, "" %><br/>
                      <% end %>
                  </div>
            </div>

            <div class="span5">
                <div>
                    <%= content_tag :h3, "酒趣轶事" %>
                    <ul class="thumbnails">
                        <% @hot_articles.each do |article| %>
                            <%= render article %>
                        <% end %>
                    </ul>
                </div>

                <div class="mt20">
                    <%= content_tag :h3, "热门酒评" %>
                    <ul class="thumbnails">
                        <% @hot_reviews.each do |review| %>
                            <%= render review %>
                        <% end %>
                    </ul>
                </div>

                <div class="mt20">
                    <%= content_tag :h3, "热门榜单" %>
                    <ul class="unstyled">
                        <% @hot_lists.each do |list| %>
                            <%= link_to list.title, list %><br/>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>