<div class="span9">
    <%= simple_form_for @deal do |f| %>
        <%= f.error_notification %>

        <%= f.hidden_field :beverage_id %>

        <div class="clearfix">
            <div class="pull-left">
                <%= f.input :price, as: :float, label: t("deals.price"), input_html: {class: "input-small"} %>
            </div>
            <div class="pull-left ml30">
                <%= f.input :amount, as: :integer, label: t("deals.amount"), input_html: {class: "input-small"} %>
            </div>
        </div>

        <%= f.input :remark, as: :text, label: t("deals.remark"), input_html: {rows: 5, class: "input-xlarge"} %>

        <div class="mt10">
            <%= f.submit (f.object.new_record? ? t("general.publish") : t("general.update")), class: "btn btn-primary" %>
        </div>
     <% end %>
</div>

<div class="span3">
    <%= render "beverages/sidebar", beverage: @deal.beverage %>
</div>
