<% title @deal.beverage.full_name, false %>

<div class="span9">
    <div class="clearfix">
        <div class="pull-left">
            <%= link_to image_tag(@deal.beverage.pic_url, class: "beverage-frame"), @deal.beverage %>
        </div>

        <div class="pull-left ml20">
            <%= link_to @deal.beverage.full_name, @deal.beverage, class: "jujiu-title" %>

            <div class="box box-shadow p10 mt10 mb10">
                <%= render "beverages/info", beverage: @deal.beverage %>
            </div>

            <p>
                <%= content_tag :span, t("deals.price"), class: "mr20" %>
                <%= content_tag :span, "#{format('%.2f', @deal.price)}￥", class: "price" %>
            </p>

            <p>
                <%= content_tag :span, t("deals.amount"), class: "mr20" %>
                <%= content_tag :span, @deal.amount %>
            </p>

            <%= content_tag :p, @deal.remark %>

            <%= link_to t("general.edit"), edit_deal_path(@deal) if can? :update, @deal %>
            <%= link_to t("general.delete"), @deal, method: :delete, confirm: t("general.are_you_sure_to_delete"), class: "ml10"  if can? :destroy, @deal %>

            <div class="mt20">
                <%= link_to "给卖家留言", new_message_path(receiver_id: @deal.seller_id), class: "btn btn-warning" if can?(:create, Message) && @deal.seller != current_user %>
            </div>
        </div>
    </div>

</div>

<div class="span3">
    <%= render "users/user_block", user: @deal.seller %>

    <div class="mt50">
        <%= content_tag :p, "#{@deal.seller.nick}的其他交易 · · · · · ·", class: "jujiu-label" %>
        <ul class="unstyled">
            <% @other_deals.each do |deal| %>
                <%= render "deals/listed_deal", deal: deal %>
            <% end %>
        </ul>
    </div>
</div>



