<%= simple_form_for(@check) do |f| %>
    <%= f.error_notification %>

    <%= f.hidden_field :beverage_id %>

    <%= render "tags/tags_form", f: f, tags: [] %>

    <%= f.input :remark %>
    <%= f.input :star %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
