<div class="clearfix">
    <div class="pull-left">
        <%= user_avatar_tag(review.author) %>
    </div>
    <div class="pull-right">
        <%= link_to review.title, review %>
        <div>
            <%= link_to review.author.nick, review.author %>
            <%= content_tag :span, review.score, class: "ml5" %>
        </div>
        <%= content_tag :p, review.content %>
  </div>
</div>