<div class="clearfix">
    <div class="pull-left">
        <%= user_avatar_tag(review.author) %>
    </div>
    <div class="pull-left ml20">
        <%= link_to review.title, review, class: "b f14" %>
        <div>
            <%= link_to review.author.nick, review.author %>
            <%= content_tag :span, "评论" %>
            <%= link_to review.beverage.full_name, review.beverage %>
            <%= content_tag :span, review.score, class: "label label-info ml5" %>
        </div>
        <%= content_tag :p, review.content %>
    </div>
    <div class="pull-right">
        <div class="text-center" style="width: 100px;">
            <%= link_to image_tag(review.beverage.get_picture, class: "small-beverage-frame"), review.beverage %>
        </div>
    </div>
</div>