<% title "酒评 - #{@review.title} - #{@review.beverage.full_name}", false %>

<div class="row">
    <div class="span9">
        <div class="clearfix">
            <div class="pull-left">
                <%= render "votes/vote_fields", item: @review %>
            </div>

            <div class="pull-left ml30 clearfix" style="width: 550px;">
                <div class="clearfix">
                    <div class="pull-left">
                    <%= content_tag :h1, @review.title %>
                        <% if @review.up_votes > 0 %>
                            <div>
                              <% @review.votings.map(&:voter).each do |voter| %>
                                  <%= link_to voter.nick, voter, class: "trivial mr2" %>
                              <% end %>
                              <%= content_tag :span, "等#{@review.up_votes}人认同"  %>
                            </div>
                        <% end %>
                    </div>
                    <div class="pull-right text-center">
                        <%= user_avatar_tag(@review.author) %><br/>
                        <%= link_to @review.author.nick, @review.author %>
                    </div>
                    <%= content_tag :span, @review.score, class: "pull-right label label-info mr20" %>
                </div>

                <%= render "reviews/info", review: @review %>

                <%= content_tag :div, "", id: "wheel", data: {flavors: @review.pieces.map{|p| {label: p.flavor, value: p.strength} }} %>
                <%= content_tag :p, @review.pieces.map(&:flavor).join(" "), class: "b" %>

                <%= content_tag :p, @review.content, class: "mt20" %>

                <%= link_to t("general.edit"), edit_review_path(@review) if can? :update, @review %>
                <%= link_to t("general.delete"), @review, method: :delete, confirm: t("general.are_you_sure_to_delete"), class: "ml10"  if can? :destroy, @review %>
            </div>
        </div>

        <div class="mt50">
            <%= render "comments/comments", item: @review %>
        </div>
    </div>

    <div class="span3">
        <%= render "beverages/sidebar", beverage: @review.beverage %>

        <div class="mt50 box box-shadow p10">
            <%= content_tag :p, "#{@review.author.nick}的其它酒评 · · · · · ·", class: "jujiu-label" %>

            <ul class="unstyled">
                <% @other_reviews.each do |review| %>
                    <%= render "reviews/listed_review", review: review %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
