<%= simple_form_for(@alcohol) do |f| %>
    <%= f.error_notification %>

    <%= f.input :en_title %>
    <%= f.input :cn_title %>
    <%= f.collection_select :region_id, Region.all, :id, :full_name %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
